<nav class="navbar navbar-expand-lg bg-dark text-light pt-4">
    <a class="navbar-brand">
        <h1 class="text-warning" routerLink="/">{{title}}</h1>
    </a>
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
        <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link lead" routerLink="/">
                    <span class="fw-semibold">
                        Home
                    </span>
                </a>
            </li>
            <li class="nav-item ms-lg-5">
                <button class="btn btn-primary" routerLink="/registration">
                    Register
                </button>
            </li>
        </ul>
    </div>
</nav>