<div class="container">
    <form [formGroup]="registrationForm" class="text-light my-5" style="max-width: 600px; margin: 0 auto;" novalidate>

        <br>
        <h3 class="text-white">Registration form</h3>
        <br>

        <!-- username -->
        <div class="form-group">
            <label class="ms-1 mb-1 form-label" for="username">Username</label>
            <input id="username" class="form-control" [class.is-invalid]="username.touched && username.invalid"
                type="text" name="username" formControlName="username">
            <small class="text-warning d-block"
                *ngIf="username.touched && username.invalid && username.errors?.['required']">Username is
                required</small>
            <small class="text-warning d-block"
                *ngIf="username.touched && username.invalid && username.errors?.['minlength']">Username must have
                {{username.errors?.['minlength'].requiredLength}} or more characters</small>

        </div>
        <br>

        <!-- email -->
        <div class="form-group">
            <label class="ms-1 mb-1 form-label" for="email">Email</label>
            <input id="email" class="form-control" [class.is-invalid]="email.touched && email.invalid" type="email"
                name="email" formControlName="email">
            <small class="text-warning d-block"
                *ngIf="email.touched && email.invalid && email.errors?.['required']">Email is
                required</small>
            <small class="text-warning d-block" *ngIf="email.touched && email.invalid && email.errors?.['email']">Not a
                valid
                Email</small>
        </div>
        <br>

        <!-- password group -->
        <div formGroupName="passwordGroup">
            <!-- password -->
            <div class="form-group">
                <label class="ms-1 mb-1 form-label" for="password">Password</label>
                <input id="password" class="form-control" type="password" name="password" formControlName="password"
                    [class.is-invalid]="password.touched && password.invalid">
                <small class="text-warning d-block"
                    *ngIf="password.touched && password.invalid && password.errors?.['required']">Password is
                    required</small>
                <small class="text-warning d-block"
                    *ngIf="password.touched && password.invalid && password.errors?.['minlength']">Password must have
                    {{password.errors?.['minlength'].requiredLength}} or more characters</small>
            </div>
            <br>
            <!-- confirm password -->
            <div class="form-group">
                {{confirmPassword.value}}
                <label class="ms-1 mb-1 form-label" for="confirm-password">Confirm Password</label>
                <input id="confirm-password" class="form-control" type="password" name="confirm-password"
                    formControlName="confirmPassword"
                    [class.is-invalid]="confirmPassword.touched && confirmPassword.invalid">
                <small class="text-warning d-block"
                    *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors?.['required']">Confirm
                    password
                    is
                    required</small>
                <small class="text-warning d-block"
                    *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors?.['minlength']">Must
                    have
                    {{confirmPassword.errors?.['minlength'].requiredLength}} or more characters</small>
                <small class="text-warning d-block"
                    *ngIf="confirmPassword.touched && confirmPassword.value && passwordGroup.errors?.['match']">Must
                    be
                    same as password</small>
            </div>
            <br>
        </div>

        <!-- profession -->
        <div class="form-group">
            <label class="ms-1 mb-1 form-label" for="Profession">Profession</label>
            <select class="form-select" name="profession" id="profession" formControlName="profession"
                [class.is-invalid]="profession.touched && profession.invalid">
                <option value="developer">Developer</option>
                <option value="analyst">Analyst</option>
                <option value="designer">Designer</option>
                <option value="teacher">Teacher</option>
                <option value="consultant">Consultant</option>
                <option value="content-creator">Content Creator</option>
                <option value="student">Student</option>
            </select>
            <small class="d-block text-warning"
                *ngIf="profession.touched && profession.invalid && profession.errors?.['required']">Profession is
                required</small>
        </div>
        <br>

        <!-- course -->
        <div class="form-group">
            <label class="ms-1 mb-1 form-label" for="course">Course</label>
            <select name="course" class="form-select" id="course" formControlName="course"
                [class.is-invalid]="course.touched && course.invalid">
                <option value="front-end">Front-end Development</option>
                <option value="back-end">Back-end Development</option>
                <option value="fullstack">Fullstack Development</option>
            </select>
            <small class="d-block text-warning"
                *ngIf="course.touched && course.invalid && course.errors?.['required']">Course is
                required</small>
        </div>
        <br>

        <!-- address group -->
        <div formGroupName="addressGroup">
            <!-- street -->
            <div class="form-group">
                <label class="ms-1 mb-1 form-label" for="street">Street</label>
                <input id="street" class="form-control" type="text" name="street" formControlName="street"
                    [class.invalid]="street.touched && street.invalid">
                <small class="d-block text-warning"
                    *ngIf="street.touched && street.invalid && street.errors?.['required']">Street is
                    required</small>
            </div>
            <br>
            <!-- city -->
            <div class="form-group">
                <label class="ms-1 mb-1 form-label" for="city">City</label>
                <input id="city" class="form-control" type="text" name="city" formControlName="city"
                    [class.invalid]="city.touched && city.invalid">
                <small class="d-block text-warning"
                    *ngIf="city.touched && city.invalid && city.errors?.['required']">City is
                    required</small>
            </div>
            <br>
            <!-- pincode -->
            <div class="form-group">
                <label class="ms-1 mb-1 form-label" for="pincode">Pincode</label>
                <input id="pincode" class="form-control" type="text" name="pincode" formControlName="pincode"
                    [class.invalid]="pincode.touched && pincode.invalid">
                <small class="d-block text-warning"
                    *ngIf="pincode.touched && pincode.invalid && pincode.errors?.['required']">Pincode is
                    required</small>
                <small class="d-block text-warning"
                    *ngIf="pincode.touched && pincode.invalid && pincode.errors?.['pattern']">Not a valid
                    pincode</small>
            </div>
            <br>
        </div>


        <!-- phone number -->
        <div class="form-group">
            <label class="ms-1 mb-1 form-label" for="phone-number">Phone Number</label>
            <input id="phone-number" class="form-control" type="text" name="phone-number" formControlName="phoneNumber">
            <small class="d-block text-warning"
                *ngIf="phoneNumber.touched && phoneNumber.invalid && phoneNumber.errors?.['required']">Phone number is
                required</small>
            <small class="d-block text-warning"
                *ngIf="phoneNumber.touched && phoneNumber.invalid && phoneNumber.errors?.['pattern']">Not a valid phone
                number</small>
        </div>
        <br>

        <!-- subscribe -->
        <div class="d-flex justify-content-between align-items-center mt-4">
            <div class="form-group ">
                <input id="subscribe" class="form-check-input" type="checkbox" name="subscribe"
                    fromControlName="subscribe">
                <label class="ms-1 mb-1 form-label" for="subscribe" class="form-check-label ms-3">Send me promotional
                    offers</label>
            </div>
            <button type="submit" class="ms-auto btn btn-primary" (click)="submitHandler()">Register</button>
        </div>
        <br>

    </form>
</div>