<div class="container">
    <form [formGroup]="registrationForm" class="text-light mt-5">

        <!-- username -->
        <div class="form-group">
            <label class="ms-1 mb-1" for="username">Username</label>
            <input id="username" class="form-control" type="text" name="username" formControlName="username">
        </div>
        <br>

        <!-- email -->
        <div class="form-group">
            <label class="ms-1 mb-1" for="email">Email</label>
            <input id="email" class="form-control" type="email" name="email" formControlName="email">
        </div>
        <br>

        <!-- password group -->
        <div formGroupName="passwordGroup">
            <!-- password -->
            <div class="form-group">
                <label class="ms-1 mb-1" for="password">Password</label>
                <input id="password" class="form-control" type="password" name="password">
            </div>
            <br>
            <!-- confirm password -->
            <div class="form-group">
                <label class="ms-1 mb-1" for="confirm-password">Confirm Password</label>
                <input id="confirm-password" class="form-control" type="password" name="confirm-password">
            </div>
            <br>
        </div>

        <!-- profession -->
        <div class="form-group">
            <label class="ms-1 mb-1" for="Profession">Profession</label>
            <select class="form-select" name="profession" id="profession" formControlName="profession">
                <option value="default"></option>
                <option value="developer">Developer</option>
                <option value="analyst">Analyst</option>
                <option value="designer">Designer</option>
                <option value="teacher">Teacher</option>
                <option value="consultant">Consultant</option>
                <option value="content-creator">Content Creator</option>
                <option value="student">Student</option>
            </select>
        </div>
        <br>

        <!-- course -->
        <div class="form-group">
            <label class="ms-1 mb-1" for="Course">Course</label>
            <select name="course" class="form-select" id="course" formControlName="course">
                <option value="default"></option>
                <option value="front-end">Front-end Development</option>
                <option value="back-end">Back-end Development</option>
                <option value="fullstack">Fullstack Development</option>
            </select>
        </div>
        <br>

        <!-- address group -->
        <div formGroupName="addressGroup">
            <!-- street -->
            <div class="form-group">
                <label class="ms-1 mb-1" for="street">Street</label>
                <input id="street" class="form-control" type="text" name="street">
            </div>
            <br>
            <!-- city -->
            <div class="form-group">
                <label class="ms-1 mb-1" for="city">City</label>
                <input id="city" class="form-control" type="text" name="city">
            </div>
            <br>
            <!-- pincode -->
            <div class="form-group">
                <label class="ms-1 mb-1" for="pincode">Pincode</label>
                <input id="pincode" class="form-control" type="number" name="pincode">
            </div>
            <br>
        </div>


        <!-- phone number -->
        <div class="form-group">
            <label class="ms-1 mb-1" for="phone-number">Phone Number</label>
            <input id="phone-number" class="form-control" type="text" name="phone-number">
        </div>
        <br>

        <!-- subscribe -->
        <div class="form-group">
            <input id="subscribe" class="form-check-input" type="checkbox" name="subscribe">
            <label class="ms-1 mb-1" for="subscribe" class="form-check-label">Send me promotional
                offers</label>
        </div>
        <br>
    </form>
</div>